
    <div id="container" ng-app='grapesApp' ng-controller='HomeController'>
	<!--
      <div class="row" ng-repeat="data in sensorInfo">
        <div class=".col-sm-6 .col-md-5 .col-lg-6" style="background-color:#3399FF;">

          <p style="padding:10px;">
            Data obtained:
          </p>
          <p id="sensor_data"> {{data.sensor_id}}- {{data.sensor_name}}  </p>
        </div>

      </div>
	  
	  		<div id="graph_container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	  			
				
	  	  -->   
        <div ng-repeat="graph in Graphs">
            <highchart id="chart1" config="graph.chart" class="span10"></highchart>
        </div>
    </div>
